@model SnehaProject.ViewModel.UpdateScoreViewModel


<div class="modal UpdateModal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <form class="form-horizontal" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Edit Test Score</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="SubjectID" class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-10">
                            @Html.DisplayFor(x => x.SubjectScore.SubjectName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Score" class="col-sm-2 control-label">Score</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.SubjectScore.Score, new { @class = "form-control", placeholder = "Enter Score", id = "SubjectScore" })
                            @Html.ValidationMessageFor(x => x.SubjectScore.Score, "", new { @class = "text-danger", id = "EditErrorScore" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TestDate" class="col-sm-2 control-label">Test Date</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.SubjectScore.TestDate, "{0:MM/dd/yyyy}", new { @class = "form-control", placeholder = "Select Date", id = "ScoreTestDate" })
                            @Html.ValidationMessageFor(x => x.SubjectScore.TestDate, "", new { @class = "text-danger", id = "EditErrorTestDate" })
                            @Html.HiddenFor(x => x.SubjectScore.ScoreID)
                            @Html.HiddenFor(x => x.SubjectScore.GradeID)
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-info" value="Submit"  id="btnUpdateScoreSubmit"/>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        var StartDate = "@Model.GradeStartDate";
        var EndDate = "@Model.GradeEndDate";
        var GradeID = "@Model.SubjectScore.GradeID";
        var GradeStartYear = new Date(StartDate).getFullYear();
        var GradeEndYear = new Date(EndDate).getFullYear();


        var GradeYear = GradeStartYear + "-" + GradeEndYear;

        $(".UpdateModal").modal('show');

        $("#ScoreTestDate").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: new Date(StartDate),
            maxDate: new Date(EndDate)
        });
        $("#btnUpdateScoreSubmit").on("click", function () {
            var ScoreID = $("#SubjectScore_ScoreID").val();
            var UpdateScoreViewModel = {};
            var SubjectScore = {};
            SubjectScore.GradeID = GradeID;
            SubjectScore.Score = $("#SubjectScore").val();
            SubjectScore.ScoreID = ScoreID;
            SubjectScore.TestDate = $("#ScoreTestDate").val();
            UpdateScoreViewModel.SubjectScore = SubjectScore;
            $.ajax({
                type: "post",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                url: "/Score/Update",
                data: JSON.stringify(UpdateScoreViewModel),
                success: function (data) {
                    if (!data.errors) {
                        $(".UpdateModal").modal('hide');
                        table.clear();
                        $.each(data.ListData, function (idx, val) {
                            
                            var tr = '<tr id=' + val.ScoreID + '>';
                            tr = tr + '<td class="SubjectName">' + val.SubjectName + '</td>';
                            tr = tr + '<td class="Score">' + val.Score + '</td>';
                            tr = tr + '<td class="TestDate">' + new Date(val.TestDate) + '</td>';
                            tr = tr + '<td class="TermName">' + val.TermName + '</td>';
                            tr = tr + '<td><a class="editor-edit" style="cursor:pointer" ScoreID=' + val.ScoreID + '><i class="fa fa-pencil" /></a></td>';
                            tr = tr + '<td><a class="editor-delete" style="cursor:pointer" ScoreID=' + val.ScoreID + '><i class="fa fa-trash" /></a></td>';

                            const row = $(tr);

                            table.row.add(row[0]).draw();
                        });
                       
                    }
                    else {
                        displayEditValidationErrors(data.errorList);
                    }
                }
            });

        });
        function displayEditValidationErrors(errors) {
            $.each(errors, function (idx, validationError) {
                //alert(validationError.PropertyName);
                //alert(validationError.ErrorList[0]);
                $("span[data-valmsg-for='" + validationError.PropertyName + "']").text(validationError.ErrorList[0]);

            });
        }

    });





</script>
