@model IEnumerable<Sneha_BL.School>
@{
    ViewBag.Title = "School Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3>List Of Schools</h3>
<br />
@Html.ActionLink("Create", "Create", "School")
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Duration</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
            var rowId = "row-" + school.SchoolID;
            <tr class="table-primary" id="@rowId">
                <td scope="row">@school.SchoolID</td>
                <td>@school.SchoolName</td>
                <td>@school.Duration</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "School", new { id = @school.SchoolID }, null) /
                <a class="Delete" idValue="@school.SchoolID" href="#"> Delete </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<input type="hidden" id="hdnSchool" />
@Shared.ShowModal("Do You Want To Delete This School?")
<script type="text/javascript">
    $(function () {

        $(".Delete").on("click", function () {
            var id = $(this).attr("idValue");
            $("#hdnSchool").val(id);
            $(".modal").modal('show');
        });

        $("#btnDelete").on("click", function () {
            var id = $("#hdnSchool").val();
            $.ajax({
                type: "post",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: '{"id":' + id + '}',
                url: "/School/Delete",
                success: function (data) {
                    if (data == "Success") {
                        var rowId = "row-" + id;
                        $(".modal").modal("hide");
                        $("table tbody #" + rowId).remove();
                    }
                 
                }

            });
        });

    });
</script>